p {
  font-weight: bold;
  margin-top: 1rem;
  color: aliceblue;
}

.date-time-picker {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent; /* Dış border başlangıçta şeffaf */
  border-radius: 5px;
  animation: borderTransition 5s linear infinite alternate;
  margin: 2rem;
}

.date-time-picker h2 {
  color: aliceblue;
}

@keyframes borderTransition {
  0% {
    border-color: #007bff; /* Başlangıç rengi (örneğin mavi) */
  }
  100% {
    border-color: #d9ff00; /* Bitiş rengi (örneğin kırmızı) */
  }
}
.date-time-picker input[type="date"] {
  width: calc(
    100% - 17px
  ); /* Örnek olarak, 20px yerine uygun bir değer belirleyin */
}

.date-time-picker label {
  font-weight: bold;
  margin-top: 1rem;
  color: aliceblue;
}

.date-time-picker input {
  width: 100%;
  padding: 8px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.second-time-inputs {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  gap: 5px;
  padding-bottom: 1rem;
}
.first-time {
  display: flex;

  margin-bottom: 1rem;
}

.time-input {
  display: flex;
}
.result {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 1rem;
}

.button {
  position: relative;
  width: 90%;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -2px;
  top: -1px;
  margin: auto;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}
